@mixin adaptiv-value($indentType, $pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;
	@if $maxSize==1 {
		//Только если меньше контейнера
		#{$indentType}: $pcSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(
				#{$mobSize + px} + #{$addSize} *
					((100vw - 320px) / #{$maxWidthContainer - 320})
			);
		}
	} @else if $maxSize==2 {
		//Только если больше контейнера
		#{$indentType}: $pcSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$indentType}: calc(
				#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
			);
		}
	} @else {
		//Всегда
		#{$indentType}: calc(
			#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
		);
	}
}

//Переменные

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$back-big-color-bg: rgba(
	$color: #c0cdff,
	$alpha: 1,
);
$front-big-color-bg: rgba(
	$color: #91a7ff,
	$alpha: 0.42,
);
$back-small-color-bg: rgba(
	$color: #91a7ff,
	$alpha: 0.53,
);
$front-small-color-bg: rgba(
	$color: #91a7ff,
	$alpha: 0.57,
);
$back-color-graphics: rgba(
	$color: #fff,
	$alpha: 1,
);
$front-color-graphics: rgba(
	$color: #2250fc,
	$alpha: 0.73,
);

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #fff;
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	width: 100%;
	overflow: hidden; // !обязательно задать общей оболочке сайта и поменять в js
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1024 + px) {
		padding: 50px 0 0 0;
		align-items: start;
	}
	@media (max-width: $md2 + px) {
		padding: 0 0 0 0;
	}
}

._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		// max-width: 970px;
		margin: 0 15px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 0px;
	}
}
.finance {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	@media (min-width: $md3 + px) and (max-width: $md2 +px) {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		&__content {
			order: 1;
			align-self: center;
			margin: 0 0 30px 0;
		}
		&__column {
			flex: 0 1 50%;
			&:first-child {
				align-self: start;
				order: 2;
			}
			&:last-child {
				align-self: flex-end;
				order: 3;
			}
		}
	}
	@media (max-width: $md3 + px) {
		flex-direction: column;
		justify-content: start;
		align-items: start;
		&__column {
			&:first-child {
				order: 2;
			}
			&:last-child {
				order: 3;
			}
		}
		&__content {
			order: 1;
			align-self: center;
			margin: 0 0 30px 0;
		}
	}
	//.finance__column
	&__column {
	}
	//.finance__bird
	&__bird {
		display: flex;
		align-items: center;
		text-decoration: none;
		@media (min-width: $md2 + px) {
			position: absolute;
			top: 0%;
			z-index: 2;
			max-width: 320px; //  размер блока (иконка + текст)
			transition: all 0.5s ease 0s;
		}
		span {
			position: relative;
			width: 52px;
			height: 52px;
			margin: 0 20px 0 0;
			display: flex;
			justify-content: center;
			align-items: center;
			@media (min-width: $md2 + px) {
				align-self: start;
			}
			&::before {
				content: '';
				position: absolute;
				height: 52px;
				width: 52px;
				border-radius: 50%;
				background-color: #fff;
				z-index: -1;
			}
			svg {
				max-width: 36px;
				margin: 0 auto;
				height: 36px;
			}
		}
		p {
			color: #727d8b;
		}
		@media (min-width: $md2 + px) {
			&:hover {
				transform: translateX(-25px);
			}
		}
		&_first {
			@media (min-width: $md1 + px) {
				top: 19%;
				left: 72%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 19%;
				left: 73%;
			}
		}
		&_second {
			@media (min-width: $md1 + px) {
				top: 33%;
				left: 76.5%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 33%;
				left: 77.5%;
			}
		}
		&_third {
			@media (min-width: $md1 + px) {
				top: 58%;
				left: 76.5%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 58%;
				left: 77.5%;
			}
		}
		&_fourth {
			@media (min-width: $md1 + px) {
				top: 73%;
				left: 72%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 73%;
				left: 73%;
			}
		}
		&_fifth {
			@media (min-width: $md1 + px) {
				top: 73%;
				right: 72%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 73%;
				right: 73%;
			}
			@media (min-width: $md2 + px) {
				span {
					order: 2;
					margin: 0 0 0 20px;
				}
				p {
					order: 1;
				}
				&:hover {
					// transform: translate(10%, 0);
					transform: translate(25px, 0);
				}
			}
		}
		&_sixth {
			@media (min-width: $md1 + px) {
				top: 58%;
				right: 76.5%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 58%;
				right: 77.5%;
			}
			@media (min-width: $md2 + px) {
				span {
					order: 2;
					margin: 0 0 0 20px;
				}
				p {
					order: 1;
				}
				&:hover {
					transform: translate(25px, 0);
				}
			}
		}
		&_seventh {
			@media (min-width: $md1 + px) {
				top: 33%;
				right: 76.5%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 33%;
				right: 77.5%;
			}
			@media (min-width: $md2 + px) {
				span {
					order: 2;
					margin: 0 0 0 20px;
				}
				p {
					order: 1;
				}
				&:hover {
					// transform: translate(10%, 0);
					transform: translate(25px, 0);
				}
			}
		}
		&_eighth {
			@media (min-width: $md1 + px) {
				top: 19%;
				right: 72%;
			}
			@media (min-width: $md2 + px) and (max-width: $md1 +px) {
				top: 19%;
				right: 73%;
			}
			@media (min-width: $md2 + px) {
				span {
					order: 2;
					margin: 0 0 0 20px;
				}
				p {
					order: 1;
				}
				&:hover {
					transform: translate(25px, 0);
				}
			}
		}

		&.active {
		}
	}
	//.finance__content
	&__content {
	}
}

.content {
	@include adaptiv-value('width', 700, 284, 1);
	@include adaptiv-value('height', 700, 284, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 100px rgba($color: #e1e6fc, $alpha: 1);
	position: relative;
	@media (min-width: $md2 + px) {
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: 1px solid #d6d6d6;
			width: 0;
			height: 0;
			z-index: -1;
			animation: border 2s linear 0s infinite both;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			border: 1px solid #d6d6d6;
			width: 0;
			height: 0;
			z-index: -1;
			animation: border 2s linear 0.5s infinite both;
		}
	}
}
//==============Блок Анимаций========================
@media (min-width: $md2 + px) {
	@keyframes rotating {
		0% {
			transform: perspective(1000px) rotateX(-25deg) translateY(-80px)
				rotateY(360deg);
		}
		100% {
			transform: perspective(1000px) rotateX(-25deg) translateY(-80px)
				rotateY(0deg);
		}
	}
}
@media (min-width: $md2 + px) {
	@keyframes span-front {
		from {
			height: 80%;
		}
	}
	@keyframes gorizont-animation-big-block {
		from {
			width: 100%;
		}
	}
}
@media (min-width: $md2 + px) {
	@keyframes border {
		0% {
			width: 0;
			height: 0;
		}
		100% {
			width: 170%;
			height: 170%;
		}
	}
}
@keyframes keyboard {
	0% {
		fill: #7775cd;
	}
	100% {
		fill: rgba(255, 255, 255, 0.2);
	}
}
@keyframes hande-right {
	0% {
		transform: translate(1px, 5px) rotate(5deg);
	}
	50% {
		transform: translate(1px, 7px) rotate(12deg);
	}
	100% {
		transform: translate(1px, 5px) rotate(5deg);
	}
}
@keyframes hande-left {
	0% {
		transform: rotate(-3deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-3deg);
	}
}
@keyframes laptop-shad {
	0% {
		opacity: 0;
	}

	20.1% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
	}
	30% {
		opacity: 0;
		text-shadow: none;
	}
	30.1% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	45% {
		opacity: 0;
		text-shadow: none;
	}
	50% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
			0 0 60px rgba(255, 255, 255, 0.25);
	}
	57% {
		opacity: 0;
		text-shadow: none;
	}
	60% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35);
	}
	65% {
		opacity: 0;
		text-shadow: none;
	}
	75% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}

	77% {
		opacity: 0;
		text-shadow: none;
	}

	85% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
			0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
			0 0 100px rgba(255, 255, 255, 0.1);
	}

	90% {
		opacity: 0;
		text-shadow: none;
	}
	100% {
		opacity: 0.44;
		text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
			0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
			0 0 100px rgba(255, 255, 255, 0.1);
	}
}

//======================Конец Блока Анимаций==========
.animation {
	position: relative;
	transform-style: preserve-3d;
	// .animation__small

	@media (min-width: $md2 + px) {
		&__small {
			transform-style: preserve-3d;
			animation: 8s rotating linear infinite;
			transform-origin: center;
		}

		&__small-block {
			// .animation-small-block_front
			&_front {
				span {
					backface-visibility: hidden;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					background-color: $front-small-color-bg;
					width: 30px;
					height: 90px;
					font-size: 0px;
					transform-style: preserve-3d;
					transform-origin: center;
					@media (min-width: $md2 + px) {
						transform: rotateY(calc(var(--char-index) * 6.3deg))
							translateZ(270px);
					}
					@media (min-width: $md1 + px) {
						transform: rotateY(calc(var(--char-index) * 6.08deg))
							translateZ(280px);
					}
					&::after {
						content: '';
						backface-visibility: hidden;
						position: absolute;
						bottom: 10px;
						left: 50%;
						width: 15px;
						height: 80%;
						background-color: $front-color-graphics;
						transform: translate(-50%, 0);
					}
					&:first-child {
						&::after {
							height: 10%;
							animation: span-front 1s ease 0s alternate infinite both;
						}
					}
					&:nth-child(2) {
						&::after {
							height: 50%;
							animation: span-front 1s ease 0.4s alternate-reverse infinite both;
						}
					}
					&:nth-child(3) {
						&::after {
							height: 20%;
							animation: span-front 1s linear 0.2s alternate-reverse infinite
								both;
						}
					}
					&:nth-child(4) {
						&::after {
							height: 45%;
							animation: span-front 1s ease-in 0.8s alternate infinite both;
						}
					}
					&:nth-child(5) {
						&::after {
							height: 60%;
							animation: span-front 2s ease-in-out 0.1s alternate-reverse
								infinite;
						}
					}
					&:nth-child(6) {
						&::after {
							height: 25%;
							animation: span-front 1.5s ease 0.5s alternate infinite both;
						}
					}
					&:nth-child(7) {
						&::after {
							height: 10%;
							animation: span-front 1.2s ease 0s alternate-reverse infinite both;
						}
					}
					&:nth-child(8) {
						&::after {
							height: 30%;
							animation: span-front 0.8s ease 0s alternate-reverse infinite both;
						}
					}
				}
			}

			// .animation-small-block_back

			&_back {
				span {
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					background-color: $back-small-color-bg;
					width: 30px;
					height: 90px;
					font-size: 0px;
					transform-style: preserve-3d;
					transform-origin: center;
					@media (min-width: $md2 + px) {
						transform: rotateY(calc(var(--char-index) * 6.3deg))
							translateZ(270px);
					}
					@media (min-width: $md1 + px) {
						transform: rotateY(calc(var(--char-index) * 6.08deg))
							translateZ(280px);
					}
					&::after {
						content: '';
						position: absolute;
						bottom: 10px;
						left: 50%;
						width: 15px;
						height: 80%;
						background-color: $back-color-graphics;
						transform: translate(-50%, 0);
					}
					&:first-child {
						&::after {
							height: 10%;
							animation: span-front 1s ease 0s alternate infinite both;
						}
					}
					&:nth-child(2) {
						&::after {
							height: 50%;
							animation: span-front 1s ease 0.4s alternate-reverse infinite both;
						}
					}
					&:nth-child(3) {
						&::after {
							height: 20%;
							animation: span-front 1s linear 0.2s alternate-reverse infinite
								both;
						}
					}
					&:nth-child(4) {
						&::after {
							height: 45%;
							animation: span-front 1s ease-in 0.8s alternate infinite both;
						}
					}
					&:nth-child(5) {
						&::after {
							height: 60%;
							animation: span-front 2s ease-in-out 0.1s alternate-reverse
								infinite;
						}
					}
					&:nth-child(6) {
						&::after {
							height: 25%;
							animation: span-front 1.5s ease 0.5s alternate infinite both;
						}
					}
					&:nth-child(7) {
						&::after {
							height: 10%;
							animation: span-front 1.2s ease 0s alternate-reverse infinite both;
						}
					}
					&:nth-child(8) {
						&::after {
							height: 30%;
							animation: span-front 0.8s ease 0s alternate-reverse infinite both;
						}
					}
				}
			}
		}
	}

	@media (min-width: $md2 + px) {
		// .animation__long
		&__long {
			position: relative;
			transform-style: preserve-3d;
			animation: 8s rotating linear infinite;
			transform-origin: center;
		}
		//=========left
		// .animation__left-block

		&__left-block {
			// .animation__left-block_front

			&_front {
				.animation__long-left-big {
					span {
						backface-visibility: hidden;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 5;
						background-color: $front-big-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							backface-visibility: hidden;
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 10px;
							height: 80%;
							background-color: $front-color-graphics;
							transform: translate(-50%, 0);
						}
						&:nth-child(1) {
							&::after {
								height: 10%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 50%;
								animation: span-front 1s ease 0.4s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 20%;
								animation: span-front 1s linear 0.2s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 1s ease-in 0.8s alternate infinite both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 60%;
								animation: span-front 2s ease-in-out 0.1s alternate-reverse
									infinite both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 25%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 25%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
					}
				}
				.animation__long-left-small {
					span {
						backface-visibility: hidden;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 5;
						background-color: $front-big-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							backface-visibility: hidden;
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 5px;
							height: 80%;
							background-color: $front-color-graphics;
							transform: translate(-50%, 0);
						}
						&:nth-child(1) {
							&::after {
								height: 10%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 50%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 20%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 2.5s ease 0s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 60%;
								animation: span-front 2s ease 0.8s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 25%;
								animation: span-front 0.5s ease 0s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 10%;
								animation: span-front 1.2s ease 1s alternate infinite both;
							}
						}
						&:nth-child(8) {
							&::after {
								height: 30%;
								animation: span-front 1.3s ease 0s alternate infinite both;
							}
						}
						&:nth-child(9) {
							&::after {
								height: 30%;
								animation: span-front 1.2s ease 0.1s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(10) {
							&::after {
								height: 30%;
								animation: span-front 1.3s ease 0s alternate infinite both;
							}
						}
						&:nth-child(11) {
							&::after {
								height: 30%;
								animation: span-front 2s ease 0.5s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(12) {
							&::after {
								height: 30%;
								animation: span-front 0.8s ease 0s alternate infinite both;
							}
						}
					}
				}
			}
			// .animation__left-block_back

			&_back {
				.animation__long-left-big {
					span {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						background-color: $back-small-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 10px;
							height: 80%;
							background-color: $back-color-graphics;
							transform: translate(-50%, 0);
						}
						&:nth-child(1) {
							&::after {
								height: 10%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 50%;
								animation: span-front 1s ease 0.4s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 20%;
								animation: span-front 1s linear 0.2s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 1s ease-in 0.8s alternate infinite both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 60%;
								animation: span-front 2s ease-in-out 0.1s alternate-reverse
									infinite both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 25%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 25%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
					}
				}
				.animation__long-left-small {
					span {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						background-color: $back-small-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 5px;
							height: 80%;
							background-color: $back-color-graphics;
							transform: translate(-50%, 0);
						}
						&:nth-child(1) {
							&::after {
								height: 10%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 50%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 20%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 2.5s ease 0s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 60%;
								animation: span-front 2s ease 0.8s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 25%;
								animation: span-front 0.5s ease 0s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 10%;
								animation: span-front 1.2s ease 1s alternate infinite both;
							}
						}
						&:nth-child(8) {
							&::after {
								height: 30%;
								animation: span-front 1.3s ease 0s alternate infinite both;
							}
						}
						&:nth-child(9) {
							&::after {
								height: 30%;
								animation: span-front 1.2s ease 0.1s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(10) {
							&::after {
								height: 30%;
								animation: span-front 1.3s ease 0s alternate infinite both;
							}
						}
						&:nth-child(11) {
							&::after {
								height: 30%;
								animation: span-front 2s ease 0.5s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(12) {
							&::after {
								height: 30%;
								animation: span-front 0.8s ease 0s alternate infinite both;
							}
						}
					}
				}
			}
		}
		//=========right
		// .animation__right-block

		&__right-block {
			// .animation__right-block_front

			&_front {
				.animation__right-vertical {
					span {
						backface-visibility: hidden;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 5;
						background-color: $front-big-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							backface-visibility: hidden;
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 10px;
							height: 80%;
							background-color: $front-color-graphics;
							transform: translate(-50%, 0);
						}
						&:first-child {
							&::after {
								height: 60%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 20%;
								animation: span-front 1s ease 0.4s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 10%;
								animation: span-front 1s linear 0.2s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 1s ease-in 0.8s alternate infinite both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 20%;
								animation: span-front 2s ease-in-out 0.1s alternate-reverse
									infinite both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 50%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 15%;
								animation: span-front 0.8s ease 0s alternate-reverse infinite
									both;
							}
						}
					}
				}
				.animation__right-horizontal {
					span {
						backface-visibility: hidden;
						position: absolute;
						z-index: 5;
						top: 0;
						left: 0;
						background-color: $front-big-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							backface-visibility: hidden;
							position: absolute;
							top: 50%;
							left: 0%;
							width: 100%;
							height: 20px;
							background-color: $front-color-graphics;
							transform: translate(0%, -50%);
						}
						&:nth-child(1) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.2s alternate
									infinite;
							}
						}
						&:nth-child(2) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.3s alternate
									infinite;
							}
						}
						&:nth-child(3) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.4s alternate
									infinite;
							}
						}
						&:nth-child(4) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.4s alternate
									infinite;
							}
						}
						&:nth-child(5) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.5s alternate
									infinite;
							}
						}
						&:nth-child(6) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.6s alternate
									infinite;
							}
						}
						&:nth-child(7) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.7s alternate
									infinite;
							}
						}
						&:nth-child(8) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.8s alternate
									infinite;
							}
						}
					}
				}
			}

			// .animation__right-block_back

			&_back {
				.animation__right-vertical {
					span {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						background-color: $back-small-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							position: absolute;
							bottom: 10px;
							left: 50%;
							width: 10px;
							height: 80%;
							background-color: $back-color-graphics;
							transform: translate(-50%, 0);
						}
						&:first-child {
							&::after {
								height: 60%;
								animation: span-front 1s ease 0s alternate infinite both;
							}
						}
						&:nth-child(2) {
							&::after {
								height: 20%;
								animation: span-front 1s ease 0.4s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(3) {
							&::after {
								height: 10%;
								animation: span-front 1s linear 0.2s alternate-reverse infinite
									both;
							}
						}
						&:nth-child(4) {
							&::after {
								height: 45%;
								animation: span-front 1s ease-in 0.8s alternate infinite both;
							}
						}
						&:nth-child(5) {
							&::after {
								height: 20%;
								animation: span-front 2s ease-in-out 0.1s alternate-reverse
									infinite both;
							}
						}
						&:nth-child(6) {
							&::after {
								height: 50%;
								animation: span-front 1.5s ease 0.5s alternate infinite both;
							}
						}
						&:nth-child(7) {
							&::after {
								height: 15%;
								animation: span-front 0.8s ease 0s alternate-reverse infinite
									both;
							}
						}
					}
				}
				.animation__right-horizontal {
					span {
						position: absolute;
						top: 0;
						left: 0;
						z-index: -1;
						background-color: $back-small-color-bg;
						width: 20px;
						height: 90px;
						font-size: 0px;
						transform-style: preserve-3d;
						transform-origin: center;
						@media (min-width: $md2 + px) {
							transform: rotateY(calc(var(--char-index) * 4.2deg))
								translateZ(270px);
						}
						@media (min-width: $md1 + px) {
							transform: rotateY(calc(var(--char-index) * 4.03deg))
								translateZ(280px);
						}
						&::after {
							content: '';
							position: absolute;
							top: 50%;
							left: 0%;
							width: 100%;
							height: 20px;
							background-color: $back-color-graphics;
							transform: translate(0%, -50%);
						}
						&:nth-child(1) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.2s alternate
									infinite;
							}
						}
						&:nth-child(2) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.3s alternate
									infinite;
							}
						}
						&:nth-child(3) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.4s alternate
									infinite;
							}
						}
						&:nth-child(4) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.4s alternate
									infinite;
							}
						}
						&:nth-child(5) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.5s alternate
									infinite;
							}
						}
						&:nth-child(6) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.6s alternate
									infinite;
							}
						}
						&:nth-child(7) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.7s alternate
									infinite;
							}
						}
						&:nth-child(8) {
							&::after {
								width: 0;
								animation: gorizont-animation-big-block 1s ease 0.8s alternate
									infinite;
							}
						}
					}
				}
			}
		}
	}

	// .animation__body

	&__body {

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			@include adaptiv-value('width', 367, 180, 1);
		}
	}
}
//==============Голова Мужчины==========

@media (min-width: $md2 + px) {
	.head-circly {
		opacity: 0;
		visibility: hidden;
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
}
@media (max-width: $md2 + px) {
	.head-circly {
		display: none;
	}
	.head-six {
		display: block;
	}
}

//==============Тень воротника
.blazer-shadow {
	display: none;
	&.visible-shadow {
		display: block;
	}
}
.blazer-shadow-left {
	display: none;
}
.blazer-rigth-shadow {
	display: none;
}

//============Start left Head==========================
.left-hand {
}
.left-hand-shadow {
}
.left-hand-anim {
	animation: hande-left 2s linear 0s infinite;
	transform-origin: 54% 32% 0;
}

.left-hand-brush {
}
.left-hand-brush-shadow {
}
.left-hand-phalanx {
}

//============Finish left Head==========================
//============laptop==========================

.front-laptop {
	position: relative;
	z-index: 5;
}
.light-laptop {
	opacity: 0.4;
	animation: laptop-shad 6s linear 0s infinite both;
}

.keyboard-line {
}
.keyboard-line-one {
	animation: keyboard 1s ease 0s infinite both;
}
.keyboard-line-two {
	animation: keyboard 1s ease 0.3s infinite both;
}
.keyboard-line-three {
	animation: keyboard 1s ease 0.5s infinite both;
}
.keyboard-line-four {
	animation: keyboard 1s ease 0.7s infinite both;
}
.keyboard-line-five {
	animation: keyboard 1s ease 0.85s infinite both;
}

//============Finish Laptop==========================

//============Start Right Head==========================

.right-hand {
	animation: hande-right 1.5s linear 0.3s infinite;
	transform-origin: 79% 52% 0;
	position: relative;
	z-index: 2;
	&.ios {
		transform-origin: 81% 53% 0;
	}
}
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) and (stroke-color: transparent) {
		.right-hand {
			animation: hande-right 1.5s linear 0.3s infinite;
			// transform-origin: 70% 45% 0;
			transform-origin:80% 53% 0;
			position: relative;
			z-index: 2;
		}
	}
}

.right-hand-shadow {
	position: relative;
	z-index: 1;
	opacity: 0.05;
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 90;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.5s ease 0s;
	&.open {
		opacity: 1;
		visibility: visible;
		.popup__content {
			transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
			opacity: 1;
		}
	}
	// .popup__body

	&__body {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		@media (min-width: $md2 + px) and (max-width: $md1 +px) {
			padding: 150px 0 0 0;
			align-items: start;
		}
	}

	// .popup__content

	&__content {
		background-color: #fff;
		color: #000;
		max-width: 800px;
		padding: 30px;
		position: relative;
		transition: all 0.5s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	}

	// .popup__close

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 20px;
		height: 20px;
	}

	// .popup__title

	&__title {
		cursor: default;
		font-size: 40px;
		margin: 0 0 1em 0;
	}

	// .popup__text

	&__text {
	}
}
